@charset "ECU-KR";
ul{background-color: pink; overflow:auto; height: 400px;}
li{list-style: none; width:100px; padding:20px; text-align:center; overflow: hidden;background-color: rgb(210, 24, 24); }
li:hover{background-color: gray;  transition: all 0.25s; }
.list{text-decoration:none; color:white;  ;
   }
